*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body{
    background-color: #f6f9f9;
}

.logo{
    margin: 25px 0;
}
.banner{
    background-image: url(../../img/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.content h1{
    font-size: 140px;
    color: white;
    font-family: 'Lato', sans-serif;
    padding-top: 220px;
    font-weight: bold;
}
.content p{
    color: white;
    font-size: 20px;
    margin-top: 35px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
span{
    width: 590px;
    display: block;
    border: 1px solid #15a4fa;
    margin: 0px auto;
}
button.btn{
    padding: 15px 35px;
    background-color: transparent;
    color: white;
    border: 1px solid #15a4fa;
    font-size: 22px;
    margin: 60px auto;
    display: block;
}
button.btn:hover{
    cursor: pointer;
    border: 1px solid white;
    color: #15a4fa;
}
.fa.fa-angle-down{
    font-size: 45px;
    color: white;
    cursor: pointer;
    margin-top: 180px;
    margin-bottom: 70px;
}
.fa.fa-angle-down:hover{
    color: #15a4fa;
    cursor: pointer;
}
.about{
        text-align: center;
    padding-top: 70px;
}
.about h2{
    font-size: 50px;
    font-weight: 400;
    color: #2d3950;
    margin-bottom: 35px;
   font-family: 'Lato', sans-serif; 
}
.about p {
    font-size: 20px;
    font-weight: 400;
    color: #999999;
    margin-bottom: 100px;
    font-family: 'Lato', sans-serif;
}
.service{
    background-color: white;
    padding: 25px 0;
}
.one{
  text-align: center; 
   margin-top: 70px;
}
.fa.fa-mobile{
    width: 100px;
    height: 100px;
    font-size: 90px;
    background-color: #48baff;
    line-height: 100px;
    color: white; 
    margin-bottom: 25px;
}
.fa.fa-paper-plane{
        width: 100px;
    height: 100px;
    font-size: 60px;
    background-color: #48baff;
    line-height: 100px;
    color: white;
    margin-bottom: 25px;
}
.fa.fa-bullhorn{
        width: 100px;
    height: 100px;
    font-size: 60px;
    background-color: #48baff;
    line-height: 100px;
    color: white;
    margin-bottom: 25px;
}
.one h3{
    font-family: 'Lato', sans-serif;
    font-size: 29px;
    font-weight: 400;
    color: #2d3950;
    padding-bottom: 15px;
}
.one p{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #a0a0a0;
    padding-bottom: 50px;
}
.two h3{
    font-family: 'Lato', sans-serif;
    font-size: 29px;
    font-weight: 400;
    color: #2d3950;
    padding-bottom: 15px;
}
.two p{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 200;
    color: #a0a0a0;
    padding-bottom: 50px;
}
.three h3{
    font-family: 'Lato', sans-serif;
    font-size: 29px;
    font-weight: 400;
    color: #2d3950;
    padding-bottom: 15px;
}
.three p{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 200;
    color: #a0a0a0;
    padding-bottom: 50px;
}

.two{
   text-align: center;
        margin-top: 70px;
}
.three{
    text-align: center;
        margin-top: 70px;
}
.showcase{
    padding: 25px 0;
}
.showcase h1{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    color: #2d3950;
    margin-top: 50px;
}
.showcase p{
        font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #909090;
}
.show-img{
    margin-bottom: 80px;
    text-align: center;
}
.img-four{
    margin-top: 20px;
}
.img-five{
    margin-top: 20px;
}
.img-six{
    margin-top: 20px;
}
.footer{
    background-image: url(../../img/fotter-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 25px 0;
}
.footer h1{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    margin-top: 45px;
}
.footer p{
      font-family: 'Lato', sans-serif;
    color: #929294;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 45px;  
}
.name{
        display: block;
    width: 550px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    color: #84868a;
    border: 1px solid #999999;
    margin-left: 120px;
    margin-bottom: 15px;
}
.email{
    display: block;
    width: 550px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    color: #84868a;
    border: 1px solid #999999;
    margin-left: 120px;
    margin-bottom: 15px;
}
.message{
    display: block;
    width: 550px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    color: #84868a;
    border: 1px solid #999999;
    margin-left: 120px;
    margin-bottom: 15px;
    padding-bottom: 120px;
}
.checkbox{
    float: left;
    margin-left: 120px;
    margin-top: 25px;
}
.form{
    margin-bottom: 75px;
}
.form p{
    margin-top: 20px;
    display: inline-block;
    margin-left: -220px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #84868a;
}
.last-btn{
    float: right;
    padding: 10px 50px;
    font-size: 15px;
    background-color: transparent;
    color: white;
    border: 1px solid #15a4fa;
    margin-top: 10px;
}
.last-btn:hover{
    border: 1px solid white;
    color: #15a4fa;
}
.last-footer{
   padding: 25px 0;
    text-align: center; 
}
.copyright{
    text-align: left;
}
.copyright p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #999999;
    margin: 10px 0;
}
.last-icon{
    text-align: right;
    margin: auto;
    margin-top: 5px;
    cursor: pointer;
}
.fa.fa-facebook{
       height: 40px;
    width: 40px;
    background-color: #15a4fa;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: white; 
}
.fa.fa-twitter{
        height: 40px;
    width: 40px;
    background-color: #15a4fa;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: white;
}
.fa.fa-google-plus{
        height: 40px;
    width: 40px;
    background-color: #15a4fa;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: white;
}
.fa.fa-linkedin{
        height: 40px;
    width: 40px;
    background-color: #15a4fa;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: white;
}

@media (min-width: 320px) and (max-width: 576px){
    .logo{
        padding-left: 100px;
    }
    .content h1{
    font-size: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
}
    span{
    width: 200px;
    display: block;
    border: 1px solid #15a4fa;
    margin: 0px auto;
}
    .content p{
    color: white;
    font-size: 13px;
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}
   button.btn{
    padding: 10px 20px;
    color: white;
    border: 1px solid #15a4fa;
    font-size: 15px;
    margin: 0px auto;
    display: block;
} 
    .fa.fa-angle-down{
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}
       .about{
        text-align: center;
    padding-top: 40px;
}
.about h2{
    font-size: 27px;
    font-weight: 200;
    color: #2d3950;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif; 
}
.about p {
    font-size: 13px;
    font-weight: 200;
    color: #999999;
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif;
}
.one{
  text-align: center;
    margin-top: 20px;
}
.fa.fa-mobile{
        width: 80px;
    height: 80px;
    font-size: 70px;
    background-color: #48baff;
    line-height: 80px;
    color: white;
    margin-bottom: 20px;
}
.one h3{
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 200;
    color: #2d3950;
    padding-bottom: 10px;
}   
.one p{
   font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #a0a0a0;
    padding-bottom: 0px;
}
.two{
  text-align: center;
    margin-top: 20px;
}
.fa.fa-paper-plane{
    width: 80px;
    height: 80px;
    font-size: 50px;
    background-color: #48baff;
    line-height: 80px;
    color: white;
    margin-bottom: 20px;
}
.two h3{
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 200;
    color: #2d3950;
    padding-bottom: 10px;
}   
.two p{
   font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #a0a0a0;
    padding-bottom: 0px;
}    
.three{
  text-align: center;
    margin-top: 20px;
}
.fa.fa-bullhorn{
    width: 80px;
    height: 80px;
    font-size: 50px;
    background-color: #48baff;
    line-height: 80px;
    color: white;
    margin-bottom: 20px;
}
.three h3{
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 200;
    color: #2d3950;
    padding-bottom: 10px;
}   
.three p{
   font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #a0a0a0;
    padding-bottom: 0px;
} 
.show-img{
    margin-bottom: 80px;
    text-align: center;
    margin: 0 auto;
}
.showcase h1{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    color: #2d3950;
    margin-top: 30px;
}   
.showcase p{
        font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #909090;
}
.img-one{
    margin-bottom: 25px;
} 
.img-one img{
    width: 100%;
} 
.img-two{
    margin-bottom: 25px;
}
.img-two img{
    width: 100%;
}
.img-three{
    margin-bottom: 25px;
} 
.img-three img{
    width: 100%;
}
 .img-four{
    margin-top: 0px;
}
.img-four img{
    width: 100%;
}
.img-five{
    margin-top: 25px;
}
.img-five img{
    width: 100%;
}
.img-six{
    margin-top: 25px;
    margin-bottom: 80px;
}
.img-six img{
    width: 100%;
}
.footer h1{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-left: -30px;
}
.footer p{
      font-family: 'Lato', sans-serif;
    color: #929294;
    font-size: 8px;
    margin-top: 15px;
    margin-bottom: 30px; 
    margin-left: -30px;
}
.name{
            display: block;
    width: 250px;
    padding: 10px;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    color: #84868a;
    border: 1px solid #999999;
    margin-left: -16px;
    margin-bottom: 15px;
}
.email{
        display: block;
    width: 250px;
    padding: 10px;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    color: #84868a;
    border: 1px solid #999999;
    margin-left: -16px;
    margin-bottom: 15px;
}
.message{
        display: block;
    width: 250px;
    padding: 10px;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    color: #84868a;
    border: 1px solid #999999;
    margin-left: -16px;
    margin-bottom: 15px;
        padding-bottom: 100px;
}
.checkbox{
    float: left;
    margin-left: -25px;
    margin-top: 10px;
}
.form{
    margin-bottom: 30px;
}
.form p{
    margin-top: 5px;
    display: inline-block;
    margin-left: -70px;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color: #84868a;
}
.last-btn{
        float: right;
    padding: 5px 20px;
    font-size: 13px;
    background-color: transparent;
    color: white;
    border: 1px solid #15a4fa;
    margin-top: 3px;
}
.last-btn:hover{
    border: 1px solid white;
    color: #15a4fa;
}    
 .copyright{
    text-align: left;
}
.copyright p{
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color: #999999;
    margin: 10px 5px;
}
.last-icon{
    text-align: right;
    margin: auto;
    margin-top: 5px;
    cursor: pointer;
    margin-top: -30px;
}
.fa.fa-facebook{
      height: 30px;
    width: 30px;
    background-color: #15a4fa;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: white;
}
.fa.fa-twitter{
         height: 30px;
    width: 30px;
    background-color: #15a4fa;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: white;
}
.fa.fa-google-plus{
         height: 30px;
    width: 30px;
    background-color: #15a4fa;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: white;
}
.fa.fa-linkedin{
       height: 30px;
    width: 30px;
    background-color: #15a4fa;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: white;
}
   
    
}
@media (min-width: 576.01px) and (max-width: 768px){
    .content h1{
    font-size: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
}
    span{
    width: 300px;
    display: block;
    border: 1px solid #15a4fa;
    margin: 0px auto;
}
    .content p{
    color: white;
    font-size: 13px;
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}
   button.btn{
    padding: 10px 20px;
    color: white;
    border: 1px solid #15a4fa;
    font-size: 15px;
    margin: 0px auto;
    display: block;
} 
    .fa.fa-angle-down{
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}
       .about{
        text-align: center;
    padding-top: 70px;
}
.about h2{
    font-size: 50px;
    font-weight: 400;
    color: #2d3950;
    margin-bottom: 35px;
   font-family: 'Lato', sans-serif; 
}
.about p {
    font-size: 20px;
    font-weight: 400;
    color: #999999;
    margin-bottom: 100px;
    font-family: 'Lato', sans-serif;
}
.one{
  text-align: center;
    margin-top: 20px;
}
.fa.fa-mobile{
        width: 80px;
    height: 80px;
    font-size: 70px;
    background-color: #48baff;
    line-height: 80px;
    color: white;
    margin-bottom: 15px;
}
.one h3{
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 200;
    color: #2d3950;
    padding-bottom: 2px;
}   
.one p{
   font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #a0a0a0;
    padding-bottom: 0px;
}
.two{
  text-align: center;
    margin-top: 20px;
}
.fa.fa-paper-plane{
    width: 80px;
    height: 80px;
    font-size: 50px;
    background-color: #48baff;
    line-height: 80px;
    color: white;
    margin-bottom: 15px;
}
.two h3{
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 200;
    color: #2d3950;
    padding-bottom: 2px;
}   
.two p{
   font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #a0a0a0;
    padding-bottom: 0px;
}    
.three{
  text-align: center;
    margin-top: 20px;
}
.fa.fa-bullhorn{
    width: 80px;
    height: 80px;
    font-size: 50px;
    background-color: #48baff;
    line-height: 80px;
    color: white;
    margin-bottom: 15px;
}
.three h3{
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 200;
    color: #2d3950;
    padding-bottom: 2px;
}   
.three p{
   font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #a0a0a0;
    padding-bottom: 0px;
}       
.showcase h1{
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 400;
    color: #2d3950;
    margin-top: 30px;
}   
.showcase p{
        font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #909090;
}
.img-one{
    margin-bottom: 25px;
} 
.img-one img{
    width: 100%;
} 
.img-two{
    margin-bottom: 25px;
}
.img-two img{
    width: 100%;
}
.img-three{
    margin-bottom: 25px;
} 
.img-three img{
    width: 100%;
}
 .img-four{
    margin-top: 0px;
}
.img-four img{
    width: 100%;
}
.img-five{
    margin-top: 25px;
}
.img-five img{
    width: 100%;
}
.img-six{
    margin-top: 25px;
    margin-bottom: 80px;
}
.img-six img{
    width: 100%;
}
.footer h1{
   color: white;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    margin-left: -60px;
}
.footer p{
     font-family: 'Lato', sans-serif;
    color: #929294;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: -60px;
}
.name{
            display: block;
    width: 330px;
    padding: 10px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    color: #84868a;
    border: 1px solid #999999;
    margin-left: -16px;
    margin-bottom: 15px;
}
.email{
        display: block;
    width: 330px;
    padding: 10px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    color: #84868a;
    border: 1px solid #999999;
    margin-left: -16px;
    margin-bottom: 15px;
}
.message{
        display: block;
    width: 330px;
    padding: 10px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    color: #84868a;
    border: 1px solid #999999;
    margin-left: -16px;
    margin-bottom: 15px;
        padding-bottom: 120px;
}
.checkbox{
    float: left;
    margin-left: -14px;
    margin-top: 10px
}
.form{
    margin-bottom: 30px;
}
.form p{
    margin-top: 8px;
    display: inline-block;
    margin-left: -100px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #84868a;
}
.last-btn{
    float: right;
    padding: 5px 24px;
    font-size: 16px;
    background-color: transparent;
    color: white;
    border: 1px solid #15a4fa;
    margin-top: 3px;
}
.last-btn:hover{
    border: 1px solid white;
    color: #15a4fa;
}    
.copyright{
    text-align: left;
}
.copyright p{
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color: #999999;
    margin: 10px 5px;
}
.last-icon{
    text-align: right;
    margin: auto;
    margin-top: 5px;
    cursor: pointer;
    margin-top: -30px;
}
.fa.fa-facebook{
      height: 30px;
    width: 30px;
    background-color: #15a4fa;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: white;
}
.fa.fa-twitter{
         height: 30px;
    width: 30px;
    background-color: #15a4fa;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: white;
}
.fa.fa-google-plus{
         height: 30px;
    width: 30px;
    background-color: #15a4fa;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: white;
}
.fa.fa-linkedin{
       height: 30px;
    width: 30px;
    background-color: #15a4fa;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: white;
}    
    
    
} 

@media (width: 768px){
   .img-six{
    margin-top: 0px;
} 
    .img-five{
    margin-top: 0px;
}
}
    
@media (min-width: 768.01px) and (max-width: 991px){
        .content h1{
    font-size: 100px;
    color: white;
    font-family: 'Lato', sans-serif;
    padding-top: 40px;
}
    span{
        width: 400px;
    display: block;
    border: 1px solid #15a4fa;
    margin: 0px auto;
}
    .content p{
    color: white;
    font-size: 14px;
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
   button.btn{
    padding: 15px 30px;
    color: white;
    border: 1px solid #15a4fa;
    font-size: 15px;
    margin: 22px auto;
    display: block;
} 
    .fa.fa-angle-down{
    font-size: 35px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 20px;
}
    .about{
        text-align: center;
    padding-top: 70px;
}
.about h2{
    font-size: 50px;
    font-weight: 400;
    color: #2d3950;
    margin-bottom: 35px;
   font-family: 'Lato', sans-serif; 
}
.about p {
    font-size: 20px;
    font-weight: 400;
    color: #999999;
    margin-bottom: 100px;
    font-family: 'Lato', sans-serif;
}  
    .one{
  text-align: center;
    margin-top: 20px;
}
.fa.fa-mobile{
        width: 80px;
    height: 80px;
    font-size: 70px;
    background-color: #48baff;
    line-height: 80px;
    color: white;
    margin-bottom: 15px;
}
.one h3{
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-weight: 200;
    color: #2d3950;
    padding-bottom: 2px;
}   
.one p{
   font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 200;
    color: #a0a0a0;
    padding-bottom: 0px;
}
.two{
  text-align: center;
    margin-top: 20px;
}
.fa.fa-paper-plane{
    width: 80px;
    height: 80px;
    font-size: 50px;
    background-color: #48baff;
    line-height: 80px;
    color: white;
    margin-bottom: 15px;
}
.two h3{
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-weight: 200;
    color: #2d3950;
    padding-bottom: 2px;
}   
.two p{
   font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 200;
    color: #a0a0a0;
    padding-bottom: 0px;
}    
.three{
  text-align: center;
    margin-top: 20px;
}
.fa.fa-bullhorn{
    width: 80px;
    height: 80px;
    font-size: 50px;
    background-color: #48baff;
    line-height: 80px;
    color: white;
    margin-bottom: 15px;
}
.three h3{
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-weight: 200;
    color: #2d3950;
    padding-bottom: 2px;
}   
.three p{
   font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 200;
    color: #a0a0a0;
    padding-bottom: 0px;
}       
 .showcase h1{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    color: #2d3950;
    margin-top: 30px;
}   
.showcase p{
        font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #909090;
}
.img-one{
    margin-bottom: 25px;
} 
.img-one img{
    width: 100%;
} 
.img-two{
    margin-bottom: 25px;
}
.img-two img{
    width: 100%;
}
.img-three{
    margin-bottom: 25px;
} 
.img-three img{
    width: 100%;
}
 .img-four{
    margin-top: 0px;
}
.img-four img{
    width: 100%;
}
.img-five{
    margin-top: 0px;
}
.img-five img{
    width: 100%;
}
.img-six{
    margin-top: 0px;
    margin-bottom: 80px;
}
.img-six img{
    width: 100%;
}
.footer h1{
   color: white;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    margin-left: -60px;
}
.footer p{
     font-family: 'Lato', sans-serif;
    color: #929294;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: -60px;
}
.name{
        display: block;
    width: 400px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    color: #84868a;
    border: 1px solid #999999;
    margin-left: 25px;
    margin-bottom: 15px;
}
.email{
            display: block;
    width: 400px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    color: #84868a;
    border: 1px solid #999999;
    margin-left: 25px;
    margin-bottom: 15px;
}
.message{
     display: block;
    width: 400px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    color: #84868a;
    border: 1px solid #999999;
    margin-left: 25px;
    margin-bottom: 15px;
    padding-bottom: 100px;
}
.checkbox{
    float: left;
    margin-left: 27px;
    margin-top: 10px;
}
.form{
    margin-bottom: 30px;
}
.form p{
    margin-top: 8px;
    display: inline-block;
    margin-left: -160px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #84868a
}
.last-btn{
    float: right;
    padding: 5px 24px;
    font-size: 16px;
    background-color: transparent;
    color: white;
    border: 1px solid #15a4fa;
    margin-top: 3px;
}
.last-btn:hover{
    border: 1px solid white;
    color: #15a4fa;
}      
    
    
    
}
@media (min-width: 791.01px) and (max-width: 1199px){
   .showcase h1{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    color: #2d3950;
    margin-top: 30px;
}   
.showcase p{
        font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #909090;
}
.img-one{
    margin-bottom: 25px;
} 
.img-one img{
    width: 100%;
} 
.img-two{
    margin-bottom: 25px;
}
.img-two img{
    width: 100%;
}
.img-three{
    margin-bottom: 25px;
} 
.img-three img{
    width: 100%;
}
 .img-four{
    margin-top: 0px;
}
.img-four img{
    width: 100%;
}
.img-five{
    margin-top: 0px;
}
.img-five img{
    width: 100%;
}
.img-six{
    margin-top: 0px;
    margin-bottom: 80px;
}
.img-six img{
    width: 100%;
}
   
    
    
}













